*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*ESTILOS DEL MENÚ DESPLEGABLE*/
.header{
    width: 100%;
    height: 65px;
    background: #181733;
    position:fixed;
    z-index: 1;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 65px;
    color: white
}

.menu{
    float: right;
    line-height: 65px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color:white;
    transition: all 500ms ease;
}
.menu a:hover{
    background: white;
    color: black
}
.menu .submenu{
    background: #181733;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.menu ul li a:hover + ul,.menu .submenu:hover{
display: block;
}

/*ESTILOS DE BODY*/
/*.portada{
    
    width: 100%;
    height: 100%;
    background-image: url("./img/barkita.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    opacity: 0.7;
    z-index: 3;
    
}*/
.espacio-header{
    width: 100%;
    height:65px;
}

body  {

    background-image: url("../img/barkita.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 3;
}
.mas{
    background-color: white;
    /*top:-905px;*/
    display: flex;
    justify-content: center;
    position: relative;

}

article{
   /* background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
  /* IMPORTANTE 
    text-align:left;
    position: relative; */

    float: left;
    width: 70%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
    /*border: 2px solid #ccc; */
    padding: 15px;
    
   
}
aside{
    float: inherit; 
    /*display: flex; */
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border: 2px solid #ccc;
    padding: 15px;
}
aside img {
    width: 500px;
}

.productos{
    position: relative;
    display: inline-block;
    border: 5px solid #181733;
    text-align: center;
    width: 250px;
    height: 375px;
    background-color: #fafafa;
    margin: 20px;
    border-radius: 20px;
}
.productos:hover{
    transform: scale(1.10);
    transition: all 0.5s ease;
}
.productos>img{
    width: 200px;
    height: 250px;
    margin-bottom: 5px;
    border-bottom: 3px solid #181733;
}
.comprar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
#sumar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-bottom: 20px;
}
#pagar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin: 20px;
}
#pagar:hover{
    color: #1883ba;
    background-color: #ffffff;
    cursor: pointer;
}
#sumar:hover{
    color: #1883ba;
    background-color: #ffffff;
    cursor: pointer;
}
.comprar:hover{
    color: #1883ba;
    background-color: #ffffff;
    cursor: pointer;
}
#totalPagar>div{
    background: linear-gradient(to bottom, #181733 70%, #fafafa);
    color:  white;
    display: inline-block;
    text-align: center;
    font-size:60px;
    padding: 20px;
    margin: 20px;
}
#carrito{
    position: relative;
    display: inline-block;
    border: 5px solid #181733;
    text-align: center;
    background-color: #fafafa;
    margin: 20px;
    width: 50%;
}
#carrito>div{
    
    position: relative;
    display: inline-block;
    
    margin: 20px;
    font-size: 25px;
}
aside{
    border-bottom: 3px solid #181733;
    border-top: 3px solid #181733;
}
.titulos{
    
    position: relative;
    display: inline-block;
    margin-left: 110px;
    margin-right: 10px;
    font-size: 25px;
    
}
#tituloFoto{
    margin-left: 40px;
}
#tituloProducto{
    margin-right: 70px;
}
#tituloPrecio{
    margin-left: 90px; 
    margin-right: none; 
}
#tituloCantidad{
    margin-left: 50px;
}
#producto>div{
    padding-top: 57px;
}
#precios>div{
    padding-top: 57px;
}
#cantidad>div{
    padding-top: 53px;
}
#carrito>div>div{
    height: 120px;
}
#fotito{
    height: 80px;
}
#cantidad>div>input{
    width: 50px;
    position: relative;
    display: inline-block;
    border-radius: 6px;
    font-size: 25px;
    border: 4px solid #181733;
    text-align: center;
}
#carrito>div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#comprar{
    margin-bottom: 20px;
}
#total{
    position: relative;
    float: right;
    border: 5px solid #181733;
    text-align: center;
    background-color: #fafafa;
    margin: 20px;
    width: 45%;
    
}

/* ESTILOS DEL FOOTER*/
footer{
    clear: both;
    width: 100%;
    background: #181733;
    color:white;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.column1{
    max-width: 400px;
}
.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: white;
    margin-top: 20px;
}
.column2{
    max-width: 400px;
}
.column2 h1{
    font-size: 22px;
}
.column2 a{
    color: white;
}
.column2 a:hover{
    color: black;
    background: white;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row i{
    margin-top: 10px;
    margin-left: 10px;
}
.column3{
    max-width: 400px;
}
.column3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 i{
   
    margin-left: 10px;
    margin-top: 10px;
}
.container-footer{
    width: 100%;
    background: #a40047;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright{
    text-decoration: none;
}
.information{
    text-decoration: none;
}
#menuicono {
    color: white;
    display: none;
    float: right;
    margin-top: 7px;
    margin-right: 50px;
}
#menuicono i{
    font-size: 50px;
}
.menu > div {
    max-width: 960px;
    margin: 0px auto;
}
@media screen and (max-width: 1100px) {
    .container-body{
        flex-wrap: wrap;
    }
    .column1{
        max-width: 100%;
    }
    .column2, .column3{
        margin-top: 40px;
    }
}
@media (max-width: 857px) {
    .menu {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color:#181733;
    }
    .menu ul{
        display: block;
        margin-right: 0px;
        text-align: center;
        background-color: #181733;
    }
    #menublock{
        display: none;
    }
    #menuicono {
    display: block;
    }
    
}
@media (min-width: 857px) {
    .menu {
    display: block;
    }
   
    #menublock{
        display: block;
    }
   
    
}
@media (max-width: 1534px) {
    aside{
        display:block;
    }
    
}
